@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2><div style="color:blue">E-journal</div></h2>
        <ul>
            <li><b><a asp-area="" asp-controller="Subject" asp-action="Index">Subjects</a></b></li>
            <li><b><a asp-area="" asp-controller="Student" asp-action="Index">Students</a></b></li>
            <li><b><a asp-area="" asp-controller="Grade" asp-action="Index">Grades</a></b></li>
        </ul>
    </div>
</div>
